<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap desktop rescap">

  <Identity
    Name="tsu2ura2.DSBatteryOSD"
    Publisher="CN=4E69E343-30AF-4AD2-8D6C-9E2076265251"
    Version="1.0.0.0"
    ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>DS Battery OSD</DisplayName>
    <PublisherDisplayName>tsu2ura2</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="ja-jp" />
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="DS Battery OSD.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="DS Battery OSD"
        Description="Displays the battery level of a connected DualSense controller."
        BackgroundColor="transparent"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Square150x150Logo="Assets\Square150x150Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.startupTask" Executable="DS Battery OSD.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="DsBatteryOsdStartup" Enabled="true" DisplayName="DS Battery OSD" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
